@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic+Coding&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Noto Sans KR', sans-serif;
  }
  * {
    font-family: 'Noto Sans KR', sans-serif;
  }
  .BlackHanSans {
    font-family: 'Black Han Sans', sans-serif;
  }
  .NanumGothicCoding {
    font-family: 'Nanum Gothic Coding', sans-serif;
  }
  .white {
    color: #fff;
  }
  .black {
    color: #000;
  }
  .primary {
    color: #fcf2c9;
  }
  .secondary {
    color: #517cce;
  }
  .graymain {
    color: #d0d0d0;
  }
  .graylight {
    color: #eaeaea;
  }
  .graymedium {
    color: #d1d1d1;
  }
  .gray5 {
    color: #555;
  }
  .gray8 {
    color: #888;
  }
  .keyred {
    color: #ff0606;
  }
  .keyyellow {
    color: #ffd600;
  }
  .keypurple {
    color: #eb00ff;
  }
  .keydeeppurple {
    color: #5200ff;
  }
  .keyblue {
    color: #00b2fe;
  }
  .keydeepblue {
    color: #061fff;
  }
  .keyocean {
    color: #00ffff;
  }
  .keygreen {
    color: #61e80e;
  }
  .keydeepgreen {
    color: #00cd52;
  }

  h1 {
    @apply text-4xl;
  }

  .mypagesidebar-list-style {
    @apply flex w-[200px] h-12 pl-5 items-center rounded-full text-gray-700;
  }
}

@media (min-width: 480px) {
  .ss {
    width: 480px;
  }
}
@media (min-width: 620px) {
  .sm {
    width: 620px;
  }
}
@media (min-width: 768px) {
  .sl {
    width: 768px;
  }
}
@media (min-width: 1080px) {
  .md {
    width: 1080px;
  }
}
@media (min-width: 1200px) {
  .lg {
    width: 1200px;
  }
}
@media (min-width: 1500px) {
  .xl {
    width: 1500px;
  }
}
