@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic+Coding&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Noto Sans KR', sans-serif;
  }
  * {
    font-family: 'Noto Sans KR', sans-serif;
  }
  .BlackHanSans {
    font-family: 'Black Han Sans', sans-serif;
  }
  .NanumGothicCoding {
    font-family: 'Nanum Gothic Coding', sans-serif;
  }
}

h1 {
  @apply text-4xl;
}